@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Rock+Salt&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header,
  main,
  footer {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  header {
    background-color: #ffa9bc;
    border-bottom: 1px solid #ffa8bb;
  }
  
  nav {
    background-color: rgb(255, 172, 188);
    padding: 1px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 2rem;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    color: #007bff;
  }
  
  .profile {
    width: 40%;
    border-radius: 50%;
  }
  .christ {
    width: 60%;
  }
  
  .card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ffcbe5;
    border-radius: 8px;
    background-color: #ffdee2;
  }
  
  footer {
    margin-top: 20px;
    border-top: 1px solid #dddd;
    padding-top: 10px;
    text-align: center;
  }